@charset "utf-8";
/* 你自己的样式 */
.import_btn{
    padding:15px;
}
.import_btn a,button{
    font-size:14px !important;
    height:31px !important;
}
.import_list{
    padding:15px;
}
.import_list ul li{
    overflow: hidden;
    line-height: 35px;
    border-bottom:1px dashed #e2e2e2;
}
.import_list ul li:last-child{
    border-bottom:0;
}
.import_list ul li span{
    cursor: pointer;
}
.import_loader{
    position: absolute;
    top:61px;
    left:0;
    width:100%;
    display: none;
}
.task-select{
    width:150px;
    margin-right:30px;
}